<%= render :partial => 'admin/shared/main_nav' %>
<div class="grid_8 prefix_2">
  <div class="box">
    <% form_for :page, @page, :url => admin_page_path(@page),
                :html => {:method => :put, :multipart => true} do |f| %>
      <%= f.error_messages %>
      
      <%= render :partial => 'form', :locals => {:f => f} %>
      <%= submit_tag "Submit" %>
    <% end %>
  </div>
</div>

