<div id="navigation">
  <span onclick="$('#mainContainer').scrollTo('#image-1' , 30, { easing: 'linear', axis:'y' })">one</span>
  <span onclick="$('#mainContainer').scrollTo('#image-2' , 30, { easing: 'linear', axis:'y' })">two</span>
  <span onclick="$('#mainContainer').scrollTo('#image-3' , 30, { easing: 'linear', axis:'y' })">three</span>
</div>

<div id="image-1" class="fullimage">
  <img class="bg" src="images/1.jpg" >
</div>
<div id="image-2" class="fullimage">
  <img class="bg" src="images/2.jpg" >
</div>
<div id="image-3" class="fullimage">
  <img class="bg" src="images/3.jpg" >
</div>
