<div id="navigation">
  <span onclick="imageScroller.moveUp(false)">Up</span>
  <span onclick="imageScroller.moveDown(false)">Down</span>
  <div type="text" id="datepicker"></div>
</div>
<% @pages.each do |page| %>
  <div  class="fullimage">
    <%= image_tag page.image.url, :class => "bg" %>
  </div>
<% end %>

<% if @pages.empty? %>
  <div id="image-1" class="fullimage">
    <img class="bg" src="images/1.jpg" >
  </div>
<% end %>

<% javascript_tag do %>
  var imageScroller = new mainScroller($('#mainContainer'));
  imageScroller.initialize();

  $(window).ready(function(){
    refigure();
    $('#datepicker').datepicker();
  });

  $(window).resize( function (){
    refigure();
    imageScroller.move();
  });

<% end %>
