<div id="navigation">
  <a class="uiIcons navUp" onclick="imageScroller.moveUp(false)" title="view next image"><span>Up</span></a>
  <a class="uiIcons navDown" onclick="imageScroller.moveDown(false)" title="view previous image"><span>Do</span></a>
  <a>365 a daily image + music haiku </a>
  <div class="centerize calendar">
    <div class="centerize" id="datepicker"></div>
  </div>
  <a id="calender_colex" class="uiIcons colex" title="collapse/expand calendar navigation"><span>c/x</span></a>
</div>

<div class="post">
  <h2>365</h2>
  <div class="haiku">
    <p><i>Image</i> (from Latin imago) is an artifact,
        or has to do with a two-dimensional (a picture),
        that has a similar appearance to some subject—usually a physical object or a person.</p>
    <br/>
    <p><i>Music</i> is an art form whose medium is sound organized in time</p>
  </div>
  <div class="credits">
    <p>Image by:</p>
    <p>Shot taken in</p>
    <p>Misic by:</p>
  </div>
  <div id="audioPlayer" class="audioPlayer">
    <object type="application/x-shockwave-flash" data="player.swf" id="audioplayer1" height="24" width="290">
      <param name="movie" value="player.swf">
      <param name="FlashVars" value="playerID=1&amp;bg=#FFFFFF&amp;loop=yes&amp;soundFile=/converted_good.mp3">
      <param name="quality" value="high">
      <param name="menu" value="false">
      <param name="wmode" value="transparent">
    </object> 
  </div>
</div>
<% @pages.each do |page| %>
  <div  class="fullimage">
    <%= image_tag page.image.url, :class => "bg" %>
  </div>
<% end %>

<% if @pages.empty? %>
  <div id="image-1" class="fullimage">
    <img class="bg" src="images/365.jpg" >
  </div>
<% end %>

<% javascript_tag do %>
  var imageScroller = new mainScroller($('#mainContainer'));
  imageScroller.initialize();

  $(window).ready(function(){
    refigure();
    $('#datepicker').datepicker();
  });

  $(window).resize( function (){
    refigure();
    imageScroller.move();
  });
  
  $('#calender_colex').link_to_colex("#datepicker");
<% end %>
