<div id="navigation">
  <span onclick="imageScroller.moveUp(false)">Up</span>
  <span onclick="imageScroller.moveDown(false)">Down</span>
  <div type="text" id="datepicker"></div>
</div>

<div id="image-1" class="fullimage">
  <img class="bg" src="images/1.jpg" >
</div>
<div id="image-2" class="fullimage">
  <img class="bg" src="images/2.jpg" >
</div>
<div id="image-3" class="fullimage">
  <img class="bg" src="images/3.jpg" >
</div>


<% javascript_tag do %>
  var imageScroller = new mainScroller($('#mainContainer'));
  imageScroller.initialize();

  $(window).ready(function(){
    refigure();
    $('#datepicker').datepicker();
  });

  $(window).resize( function (){
    refigure();
    imageScroller.move();
  });

<% end %>
