* { margin: 0; padding: 0;}

body { color: #fff; font-size: 11px; font-family: Helvetica Neue, Arial, sans-serif; overflow: hidden; background: #000;}

#mainContainer { overflow: hidden; visibility: hidden;}
div#navigation { position: absolute; top: 10px; left: 10px; }
div#navigation span { cursor: pointer; text-decoration: underline; color: white; }
.fullimage  { float: left }
.bg {left: 0; top: 0; width: 100%; z-index: 5000;}
